@use '@/assets/scss/utils/index' as *;

html {
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
    font-size: 16px;
}

.container {
  max-width: 1680px;
  width: var(--grid-width);
  margin: 0 auto;
}
.main-content {
  margin-top: 72px;
}
@media (min-width: 80rem) {
  .main-content {
    margin-top: 96px;
  }
}