//primary colors
$bg-globe: #1B232C;
$bg-island: #2C3744;
$bg-island-inner: #2C3744;
$bg-white: #E3F0FF;
$bg-black: #151B22;

$accent: #006CE0;

//text colors
$primary: rgba(227, 240, 255, 1);
$secondary: rgba(227, 240, 255, 0.75);
$tertiary: rgba(227, 240, 255, 0.5);
$placeholder: rgba(227, 240, 255, 0.25);

$primary-inv: rgba(27, 35, 44, 1);
$secondary-inv: rgba(27, 35, 44, 0.75);
$tertiary-inv: rgba(27, 35, 44, 0.5);
$placeholder-inv: rgba(27, 35, 44, 0.25);